

.studyMaterialHeddingPhoto {
    align-items: center;
    align-self: auto;
    align-content: center;
    width: 100%;
}











 .Upper_nav {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.3);
	box-shadow: 20%;
	padding: auto;
    align-items: center;
    align-self: auto;
    align-content: center;
    
   
   }
  .Upper_nav a {
    color: rgb(174, 141, 141);
    text-decoration: none;
    margin: 0 15px;
    
  } 








.nav_button {
    text-align: center;
	background-color: rgba(73, 15, 15, 0.5);
	text-align: center;
	border-radius: 200px;
	height: 50%;
	padding: 1em;
    margin: 1em auto;
   
   
    

	
}
body {
	background-color: rgb(39, 38, 38);
    
}





.First_hedding {
    width: 100%;
	text-align: center;
	font-size: 300%;
	color:rgb(128, 47, 148);
	background-color: rgba(57, 82, 244, 0.3);
	border-radius: 50px;
   

    }




/* Box */

.box_line_number_1{
    align-self: auto;
    align-items: center;
    margin: auto;
    display: flex;
   	}



.box {
    align-content: center;
    align-self: auto;
    align-items: center;
    color:rgb(238, 238, 238);
	background-color: rgba(57, 82, 244, 0.3);
    height: 300px;
    width: 500px;
    margin: auto;
    border-radius: 20px;
}




/* footer */





.footer_content{
    background-color: rgba(255, 0, 0, 0.3);
    height: 12%;
    color: rgb(174, 141, 141);
   text-align: center;
    justify-content: center;
    fill-opacity: unset;
}

hr


hr {
    color: rgb(174, 141, 141);
}