.select_school {
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 300%;
    
}




.school {
    align-self: auto;
    align-items: center;
    margin: auto;
    display: flex;
}

.school_1 {
    text-align: center;
    align-content: center;
    align-self: auto;
    align-items: center;
    color:rgb(238, 238, 238);
	background-color: rgba(57, 82, 244, 0.3);
    height: 50px;
    width: 600px;
    margin: 10px;
    border-radius: 20px;
}




